

.navbar-text.navbar-right:last-child {
  margin-right: 15px;
}

.navbar-text {
  margin-left: 15px;
}

.navbar {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}


@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 160px;
  }

  .dl-horizontal dt {
    width: 140px;
  }
}

