.navbar-text.navbar-right:last-child {
  margin-right: 15px;
}

.navbar-text {
  margin-left: 15px;
}

.navbar {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}


@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 160px;
  }

  .dl-horizontal dt {
    width: 140px;
  }
}

.helptext {
  cursor: help;
  border-bottom: 1px dotted #7a8288;
}

.recorder-timestamp-help {
  margin-left: 3px;
  margin-top: 6px;
}

.recorder-bytesize {
  margin-top: 6px;
  height: 44px;
  text-align: center;
  padding: 0;
  white-space: nowrap;
}

.icon-clapper {
  background-image: url("/admin/clapper.png");
  background-position: center center;
  height: 14px;
}

.logList-time-col {
  width: 30%;
}

.logList-label-col {
  width: 50%;
}

