
.table .ctrl-tier {
  padding-left: 20px;
}

.constrained-large {
  width: 150px;
}

.constrained-small {
  width: 100px;
}

.bar-cell {
  vertical-align: middle !important;
}

.bar {
  background-color: black;
  height: 14px;
  padding: 0;
  position: relative;
}

.bar-indicator {
  background-color: gray;
  height: 14px;
  display: inline-block;
  position: absolute;
  border: 1px solid black;
}

.bar-indicator.input {
  background-color: #5bc0de;
}

.bar-indicator.output {
  background-color: #f0ad4e;
}

.inline {
  display: inline-block;
}

.connection-state {
  float: right;
  display: inline-block;
}

.extra-info {
  margin-top: 8px;
  text-align: center;
  font-size: smaller;
}

.tier-state {
  margin-right: 8px;
}